main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.controls-wrapper {
  width: 100%;
}

.carousel-wrapper {
  width: 100vw;
}

.rec-carousel-item:focus {
  outline: none;
}
