:root {
  --cyan-500: #71d1b4;
  --cyan-800: #1e5847;
  --cyan-900: #397261;
  --yellow-500: hsl(51, 67%, 57%);
  --gray-500: #282828;
  --gray-900: #1d1d1d;
  --white-100: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #282828;
  color: #fff;
  max-width: 100vw;
  overflow-x: hidden;
}
