.last-movies {
  padding-top: 2rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #1d1d1d;

  h1 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-left: 4%;
    margin-bottom: 2rem;
    color: #dbc549;
  }
}
