footer {
  padding: 0.5rem 0;
  text-align: center;

  a {
    color: #5c5c5c;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: #71d1b4;
    }

    &:active {
      color: #3bb892;
    }
  }
}
