:root {
  --cyan-500: #71d1b4;
  --cyan-800: #1e5847;
  --cyan-900: #397261;
  --yellow-500: hsl(51, 67%, 57%);
  --gray-500: #282828;
  --gray-900: #1d1d1d;
  --white-100: #fff;
  --body-bg: #282828;

  --font-family: 'Montserrat', sans-serif;
}
