:root {
  --font-family: 'Montserrat', sans-serif;

  --cyan-500: #71d1b4;
  --cyan-700: #397261;
  --cyan-800: #1e5847;
  --yellow-500: #e0c54b;
  --gray-500: #282828;
  --gray-900: #1d1d1d;
  --white-100: #fff;
  --body-bg: #282828;

  --gradient-bg: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.521) 0%,
    rgb(12, 12, 12) 45%,
    rgb(0, 0, 0) 100%
  );
  --gradient-responsive-bg: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.521) 0%,
    rgb(12, 12, 12) 65%,
    rgb(0, 0, 0) 100%
  );
}
