@media only screen and (max-width: 1024px) {
  .movie-modal {
    height: 100%;
    background-color: var(--gray-900);

    img {
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
    }

    .modal-container {
      width: 70%;

      .movie-info {
        top: 0;
        left: 0;
        background: var(--gradient-responsive-bg);

        .movie-content {
          width: 100%;

          h2 {
            font-size: 1.8rem;
          }

          dl {
            margin-top: 5rem;
          }
        }
      }

      .movie-video {
        width: 80vw;
        height: 50vh;
        bottom: 0;
        padding-bottom: 1rem;
        margin: 0 10%;
      }
    }
  }
}

@media only screen and (max-width: 798px) {
  .movie-modal {
    img {
      width: 100%;
      height: auto;
    }
    .modal-container {
      height: 60%;

      .movie-info {
        .movie-content {
          .title-container {
            button {
              margin-right: 0.5rem;
            }
          }
          dl {
            margin-top: 5rem;
            justify-content: center;

            div {
              flex-direction: column;
              justify-content: space-between;
              text-align: center;
            }
          }
        }
      }

      .movie-video {
        height: 40vh;
      }
    }
  }
}

@media only screen and (max-width: 578px) {
  .movie-modal {
    .modal-container {
      height: 30%;

      .movie-info {
        .movie-content {
          .title-container {
             margin-top: 2rem;
          }
          h2 {
            font-size: 1.5rem;
          }
        }
      }

      .movie-video {
        width: 90vw;
        height: 28vh;
        margin: 0 3% 0 0;

        .video-notfound {
          font-size: 5rem;
          margin-top: 3rem;
        }
      }
    }
  }
}
